.button {
  flex-flow: column;
  justify-content: center;
  align-content: center;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
  user-select: none;
  border: none;
  color: #2B3A8C;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.8;
    outline: 3px solid #2B3A8C;
  }
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    opacity: 0.5;
    outline: none;
  }
}
