.card {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 16px;
  background-color: #2B3A8C;
  border-radius: 20px;
  padding: 20px;
}

.card__title {
  color: #BFD962;
  font-weight: 600;
  font-size: 22px;
}
